.idea/
__pycache__/
*.pyc
.ipynb_checkpoints/
datasets/
data/
results/
outputs/
logs/
runs/
*.pt
*.pth
*.ckpt
*.pkl
*.npy
*.npz
contrastive_petrain/dataABP/
contrastive_petrain/dataAMP/
contrastive_petrain/dataMM/
.DS_Store
